Source: libdisplaycore-driver-ili9488
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-driver-ili9488
Section: main
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Drivers
Depends: libdisplaycore-core
Provides: ILI9488.h
Description: ILI9488 driver for DisplayCore
 The ILI9488 is used by a number of generic 3.5"
 320x480 TFT screens.  It's an 8-bit parallel interface normally.



