Source: libcariad-driver-ili9488
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-driver-ili9488
Replaces: libdisplaycore-driver-ili9488
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Drivers
XBSC-Subsubgroup: TFT
Depends: libcariad-core
Provides: ILI9488.h
Description: ILI9488
 The ILI9488 is used by a number of generic 3.5"
 320x480 TFT screens.  It's an 8-bit parallel interface normally.



